html, body {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.mail-container {
    width: 75%;
}
.sidebar {
    width: 20%;
}
.navbar-icon {
    margin-left: 19px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.search-bar {
    padding: 10px;
    border-radius: 8px;
    background-color: #F1F3F4;
    height: 30px;
    width: 40%;;
    display: flex;
    flex-direction: row;
    margin-left: 79px;
    margin-right: 10px;
    margin-top: 7px;
}
.search-bar img {
    margin-left: 20px;
    margin-top: 6px;
    height: 20px;
    width: 20px;
}
.search-bar input {
    font-size: 16px;
    background-color: #F1F3F4;
    border: 0;
    margin-left: 20px;
}
.misc{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.misc img {
    height: 20px;
    width: 20px;
}
.compose {
    margin-left: 8px;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 20px;
    border-radius: 40px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.compose img {
    height: 20px;
    width: 20px;
}
.sidebar-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar-buttons button{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 0;
    background-color: #FFFFFF;
}
.sidebar-buttons button:hover {
    background-color: #F1F3F4;
    cursor: pointer;
}
.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
.type-counts {
    display: flex;
    align-items: center;
    gap: 10px;
  }
.type-btn{
    display: flex;
    gap: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }
.type-btn:hover {
    background-color: #F1F3F4;
    cursor: pointer;
    border-radius: 6px;
  }
.type-buttons .active {
    background-color: #d0e0ff;
    font-weight: bold;
  }
.mail-item {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s;
  }
/* .mail-item:hover {
    background-color: #f5f5f5;
  }
   */
.mail-item h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 16px;
  }
.type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }
.mail-item p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
}

.mail-item:hover {
    background-color: #F1F3F4;
}
.mail-list {
    height: calc(100vh - 120px); /* adjust based on your header height */
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
  }
.promotions{
    background-color: #98D7E4;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.updates {
    background-color: #FB4C2F;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    color: #fff;
}
.social {
    background-color: #3474E0;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    color: #fff;
}
.date-time {
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.body-container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    width: 18%;
}
.header-container img {
    margin-right: 10px;
}
.header-container button {
    border: 0;
    background-color: #FFFFFF;
}
.read {
    font-weight: 100;
  }
.unread {
    font-weight: 800;
}